.popup__container {
  margin: 0 auto;
  padding: 36px;
  box-sizing: border-box;
  position: sticky;
  top: 25%;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


@media screen and (max-width: 520px) {
  .popup__container {
    padding: 22px 25px;
    width: 282px;
    height: 322px;
    gap: 50px;
  }
}

