.profile__button-add {
  box-sizing: border-box;
  padding: 13px;
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  place-self: center end;
  grid-column: 4;
}

@media screen and (max-width: 720px) {
  .profile__button-add {
    width: 282px;
    margin-top: 3.5px;
  }
}

@media screen  and (max-width: 320px){
  .profile__button-add{
    padding: 16px;
  }
}